:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #5D5E5E;
    --secondary-color: #ffffff;
    --tertiary-color: #F5881F;
    --error-color: #EE3A23;
}

.background {
    background-color: #8A8C8F;
    margin: 0;
    counter-reset: section;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 4px 20px;
}

.button {
  background-color: var(--tertiary-color);
  border: none;
  color: var(--secondary-color);
  padding: 6px 8px 4px 8px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.editButton {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 15%;
    cursor: pointer;
    position: relative;
    float: none;
    flex-direction: row;
    
}

.deleteButton {
    border: none;
    color: red;
    flex-direction: row;
    float: inline-end;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 15%;
    cursor: pointer;
    background-color: inherit;
    position: relative;
    
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}
.activity {
    text-align: center;
    cursor: pointer;
    color: var(--primary-color);
    text-shadow: #000;
}

.activity:hover {
    color: lightblue;
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px 20px;
    overflow: scroll;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
}

.error {
    color: var(--error-color);
    border: 1px solid var(--error-color);
    padding: 8px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

.comment-div {

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/*
Flexbox on a lists removes the numbers. We use a counter here to add them back.
https://stackoverflow.com/a/34316093
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
*/

.hidden {
    display: none;
}

/* table styles */ 

th, td {
    padding: 15px;
    text-align: left;
}

th {
    border-bottom: 1px solid var(--primary-color);
}

a {
    color: var(--tertiary-color);
    text-decoration: none;
}

.comment {
    border: 2px solid #73AD21;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;


}

h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

p {
    font-size: 16px;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    flex-wrap: wrap;
    
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
}

/* Navbar links on mouse-over */
.navbar a:hover, .navbar a.split:hover, .subnav:hover .subnavbtn {
    background-color: #000;
}

.navbar a.hidden {
    display: none;
}

.navbar a.split {
    float: right;
    background-color: #04AA6D;
    color: white;
}

/* Subnav menu */
.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 12px 17px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #04AA6D;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;

}

.subnav-content a:hover {
    background-color: #000;
    color: white;
}

.subnav:hover .subnav-content {
    display: block;
}

/* Current/active navbar link */
.active {
    background-color: #04AA6D;
}

* {box-sizing: border-box;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px;}
}

/* Add responsiveness - will automatically display the navbar vertically
instead of horizontally on screens less than 500 pixels */
@media only screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
    }
    .navbar a.hidden {
        display: none;
    }
    .navbar a.split {
        float: right;
        background-color: #04AA6D;
        color: white;

    }

    .subnav {
        float: none;
        display: block;
        width: 100%;
    }

    .subnavbtn {
        float: none;
        display: block;
        width: 100%;
    }

    .subnavbtn.hidden {
        float: none;
        display: none;
        width: 100%;
    }

    /* .subnav-content {
        display: none;
        position: relative;
        left: 0;
        background-color: #04AA6D;
        width: 100%;
        z-index: 1;
    } */

}

